/* -----------------------------all fonts -----------------
-----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,400&display=swap");

/*----------------------------- common styles/utilities -------------
--------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.highlight {
  color: #ff008e;
}
.primary-button {
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(45deg, #9c095a, #ff008e);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 7px #ff008e;
  position: relative;
  top: 0;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 2px #ff008e;
}
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 40px;
  border-bottom: 2px solid #ff008e;
  margin: 50px 0;
  display: inline-block;
  text-transform: uppercase;
}
/*---------------------------------------- header-styles-------------------------
----------------------------------------------------------------------------- */
header {
  background-image: url("images/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600px;
  padding: 15px 10px;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh-80px);
  margin-left: 25px;
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-left p {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
.banner-left h1 {
  font-size: 45px;
  color: white;
}
.banner-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.banner-right img {
  width: 100%;
}
/* --------feature part's css---------
--------------------------------------- */
.feature {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.card {
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
}
.card .card-icon {
  background-color: #ff008e;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 10px;
  color: #fff;
}
.card h3 {
  color: #ff008e;
  font-size: 30px;
}
.card p {
  margin: 10px 0;
  line-height: 1.5;
}
.card a {
  text-decoration: none;
  color: #ff008e;
}
/*--------------------------------------
------------- gallery part's css---------
 */
.gallery {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 3px solid #ff008e;
  box-shadow: 10px 10px 10px 10px #808080ad;
}
/*------------------------------------------------
---------------- input part"s css---------------- */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-left img {
  width: 100%;
}
.contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  font-variant: inherit;
  outline: 0;
  border: 1px solid #ff008e;
}
/* ---------------------footer css-------------------------
 --------------------------------------------------------- */
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
